.header {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    color: aliceblue;
    overflow-y: hidden;
}

@media only screen and (max-width: 600px) {
    .header {
        width: 100%;
        height: 100vh;
        padding: 20px; 
    }
}

@media only screen and (min-width: 600px) {
    .header {
        width: 100%;
        height: 100vh;
        padding: 20px; 
    }
}

@media only screen and (min-width: 900px) {
    .header {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        width: 100%;
        height: 100vh;
        padding: 50px;
    }
}

@media only screen and (min-width: 1800px) {
    .header {
        width: 100%;
        height: 100vh;
        padding: 100px;
    }
}

.header-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-details .header-title {
    font-size: 4.5rem;
    line-height: 6rem;
    letter-spacing: 0.6rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient( #A8EB12 ,#FFC600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 600px) {
    .header-details .header-title {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: justify;
        margin-bottom: .7rem;
        letter-spacing: 0.5rem;
        text-align: center
    }
}


@media only screen and (min-width: 600px) {
    .header-details .header-title {
        font-size: 4rem;
        line-height: 4.5rem;
        text-align: justify;
        margin-bottom: 1rem;
        letter-spacing: 1.3rem;
        text-align: center
    }
}

@media only screen and (min-width: 900px) {
    .header-details .header-title {
        font-size: 3.5rem;
        line-height: 4.5rem;
        margin-bottom: 1rem;
        letter-spacing: 1rem;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .header-details .header-title {
        font-size: 4.5rem;
        line-height: 6.5rem;
        margin-bottom: 1rem;
        letter-spacing: 1rem;
    }
}

@media only screen and (min-width: 1800px) {
    .header-details .header-title {
        font-size: 6.5rem;
        line-height: 7.5rem;
        margin-bottom: 2rem;
        letter-spacing: 1rem;
    }
}

.header-details .header-description {
    font-size: 1.7rem;   
    font-weight: 100;
    line-height: 3rem;
    letter-spacing: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    opacity: 1;
    color: #777;
}

@media screen and (max-width: 600px) {
    .header-details .header-description {
        font-size: 0.8rem;
        line-height: 1.4rem;
        letter-spacing: .6rem;
        margin-bottom: 5rem;
    }
}

@media only screen and (min-width: 600px) {
    .header-details .header-description {
        font-size: 1.5rem;
        line-height: 2.4rem;
        letter-spacing: 1rem;
        margin-bottom: 6rem;
    }
}

@media only screen and (min-width: 900px) {
    .header-details .header-description {
        font-size: 1.5rem;
        line-height: 2.4rem;
        letter-spacing: 2rem;
        margin-bottom: 7rem;
    }
}

@media only screen and (min-width: 1200px) {
    .header-details .header-description {
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: 2.5rem;
        margin-bottom: 7rem;
    }
}

@media only screen and (min-width: 1800px) {
    .header-details .header-description {
        font-size: 2.3rem;
        line-height: 3.4rem;
        letter-spacing: 3.5rem;
        margin-bottom: 8rem;
    }
}

.header-details .header-link {
    padding: 20px 35px;
    background-color: #ffc600;
    color: #000;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s;
    background: #ffc600;
    text-decoration: none;
    font-size: 1.3rem;
}

.header-details .header-link:hover {
    background-color: #000;
    border: 1px solid #FFC600;
    color: #FFC600
}


@media screen and (max-width: 600px) {
    .header-details .header-link {
        padding: 15px 30px;
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 600px) {
    .header-details .header-link {
        padding: 18px 45px;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 900px) {
    .header-details .header-link {
        padding: 19px 48px;
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1200px) {
    .header-details .header-link {
        padding: 20px 60px;
        font-size: 1.8rem;
        line-height: 2rem;
    }
}
@media only screen and (min-width: 1800px) {
    .header-details .header-link {
        padding: 20px 60px;
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

/* .header-details .header-link a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
} */

.header-details .header-link a:hover {
    color: #ffc600;
}
