.new-header {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    overflow-y: hidden;
}

.header-container {
    padding: 40px 100px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .header-container {
        padding: 20px 10px;
    }    
}

@media only screen and (min-width: 600px) {
    .header-container {
        padding: 30px 20px;
    }    
}

@media only screen and (min-width: 900px) {
    .header-container {
        padding: 20px;
    }    
}

@media only screen and (min-width: 1200px) {
    .header-container {
        padding: 20px 50px;
    } 
}

@media only screen and (min-width: 1800px) {
    .header-container {
        padding: 50px 100px;
    } 
}


.contact-header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

@media only screen and (max-width: 600px) {
    .contact-header-page {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5%;
    } 
}

@media only screen and (min-width: 600px) {
    .contact-header-page {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5%;
    } 
}

@media only screen and (min-width: 900px) {
    .contact-header-page {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    } 
}

@media only screen and (min-width: 1200px) {
    .contact-header-page {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    } 
}


.toggle-button {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    width: 30px;
    height: auto;
    display: none;
    z-index: 10;
}

@media only screen and (max-width: 600px) {
    .toggle-button {
        right: 1.2rem;
        top: 1rem;
        display: block;
    } 
}

@media only screen and (min-width: 600px) {
    .toggle-button {
        right: 1.2rem;
        top: 1rem;
        display: block;
        width: 60px;
        height: 50px;
    } 
}

@media only screen and (min-width: 900px) {
    .toggle-button {
        display: none;
    } 
}


.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 100px 50px;
}

@media only screen and (max-width: 600px) {
    .contact-container {
        flex-direction: column;
        padding: 20px 10px;
    }
}

@media only screen and (min-width: 600px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
        margin-top: 20%;
    }
}

@media only screen and (min-width: 900px) {
    .contact-container {
        flex-direction: row;
        gap: 5rem;
        padding: 20px;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-container {
        flex-direction: row;
        gap: 10rem;
        padding: 20px;
        margin: 10%;
        margin-bottom: 20%;
    }
}

.contact-email {
    padding: 35px;
    border-radius: 15px;
    box-shadow: 3px 4px 11px rgb(18, 107, 224);
}

@media only screen and (max-width: 600px) {
    .contact-email {
        padding: 25px 15px;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .contact-email {
        padding: 25px 15px;
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) {
    .contact-email {
        padding: 25px 15px;
        width: 75%;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 1200px) {
    .contact-email {
        padding: 65px 20px;
        width: 100%;
        margin: 0 auto;
    }
}

.contact-email .contact-email-heading {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .contact-email .contact-email-heading {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 600px) {
    .contact-email .contact-email-heading {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 900px) {
    .contact-email .contact-email-heading {
        font-size: 1.7rem;
        margin-bottom: 2.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-email .contact-email-heading {
        font-size: 1.9rem;
        margin-bottom: 2.7rem;
    }
}

.contact-email .contact-email-heading span {
    font-weight: 600;
    color: #ff330a;
}


.contact-email .contact-email-link {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 5px;
    cursor: pointer;
    position: relative;
}

.contact-email .contact-email-link::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background: #000;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
}

.contact-email .contact-email-link:hover::after {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .contact-email .contact-email-link {
        font-size: 3vw;
        font-weight: 400;
        letter-spacing: 4px;
    } 
}

@media only screen and (min-width: 600px) {
    .contact-email .contact-email-link {
        font-size: 3.5vw;
        letter-spacing: 4px;
    } 
}

@media only screen and (min-width: 900px) {
    .contact-email .contact-email-link {
        font-size: 4.5vw;
        letter-spacing: 4px;
    } 
}

@media only screen and (min-width: 900px) {
    .contact-email .contact-email-link {
        font-size: 5vw;
        letter-spacing: 4px;
    } 
}

.contact-email .contact-email-link:hover {
    color: #7ae;
    font-weight: 500;
}

.contact-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 3px 4px 11px #7ED57B;
    background: #333;
}

@media only screen and (max-width: 600px) {
    .contact-socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 35%;
        padding: 10px;
    } 
}

@media only screen and (min-width: 600px) {
    .contact-socials {
        flex-direction: row;
        margin-top: 35%;
        padding: 10px;
    } 
}

@media only screen and (min-width: 900px) {
    .contact-socials {
        flex-direction: column;
        margin-top: 0%;
        padding: 7px;
    } 
}

@media only screen and (min-width: 1200px) {
    .contact-socials {
        flex-direction: column;
        margin-top: 0%;
        padding: 7px;
    } 
}

.contact-socials > img {
    margin-block: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .contact-socials > img {
        margin-inline: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .contact-socials > img {
        margin-inline: 30px;
    }
}

@media only screen and (min-width: 900px) {
    .contact-socials > img {
        margin-block: 20px;
    }
}

.contact-socials > img:hover {
    transform: scale(1.3);
    opacity: .85;
}


.contact-socials-github {
    width: 30px;
    height: auto;
    background: #fff;
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .contact-socials-github {
        width: 35px;
    }
}

@media only screen and (min-width: 600px) {
    .contact-socials-github {
        width: 45px;
    }
}

@media only screen and (min-width: 900px) {
    .contact-socials-github {
        width: 40px;
    }
}

img.contact-socials-github,
img.contact-socials-discord, 
img.contact-socials-twitter,
img.contact-socials-linkedin {
    padding: 5px;
}

.contact-socials-discord {
    width: 30px;
    height: auto;
    background: #738ADB;
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .contact-socials-discord {
        width: 35px;
    }
}

@media only screen and (min-width: 600px) {
    .contact-socials-discord {
        width: 45px;
    }
}

@media only screen and (min-width: 900px) {
    .contact-socials-discord {
        width: 40px;
    }
}

.contact-socials-twitter {
    width: 30px;
    height: auto;
    background: #00ACEE;
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .contact-socials-twitter {
        width: 35px;
    }
}

@media only screen and (min-width: 600px) {
    .contact-socials-twitter {
        width: 45px;
    }
}

@media only screen and (min-width: 900px) {
    .contact-socials-twitter {
        width: 40px;
    }
}

.contact-socials-linkedin {
    width: 30px;
    height: auto;
    background: #FFF;
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .contact-socials-linkedin {
        width: 35px;
    }
}

@media only screen and (min-width: 600px) {
    .contact-socials-linkedin {
        width: 45px;
    }
}

@media only screen and (min-width: 900px) {
    .contact-socials-linkedin {
        width: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        padding: 20px 10px;
        gap: 1rem;
        flex-direction: column;
        align-items: inherit;
    }
}

@media only screen and (min-width: 600px) {
    .footer {
        padding: 25px 20px;
        gap: 1rem
    }
}

@media only screen and (min-width: 900px) {
    .footer {
        padding: 35px;
        gap: 1rem
    }
}

@media only screen and (min-width: 1200px) {
    .footer {
        padding: 25px 50px;
        gap: 1rem
    }
}

@media only screen and (min-width: 1800px) {
    .footer {
        padding: 40px 100px;
        gap: 1rem
    }
}

.footer small {
    font-size: 1rem
}

@media only screen and (max-width: 600px) {
    .footer small {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    .footer small {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 900px) {
    .footer small {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .footer small {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1800px) {
    .footer small {
        font-size: 1.5rem;
    }
}


.footer h3 {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .footer h3 {
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: end;
    }

    .footer h3 span {
        display: inline-block;
    }
}

@media only screen and (min-width: 600px) {
    .footer h3 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: end;
    }

    .footer h3 span {
        display: inline-block;
    }
}

@media only screen and (min-width: 900px) {
    .footer h3 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .footer h3 span {
        display: inline-block;
    }
}

@media only screen and (min-width: 1200px) {
    .footer h3 {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .footer h3 span {
        display: inline-block;
    }
}

@media only screen and (min-width: 1800px) {
    .footer h3 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .footer h3 span {
        display: inline-block;
    }
}

.footer h3 span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #7ED57B;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .footer h3 span {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    .footer h3 span {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 900px) {
    .footer h3 span {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .footer h3 span {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1800px) {
    .footer h3 span {
        font-size: 1.9rem;
    }
}